@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins&family=Roboto:wght@100&display=swap');

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow: scroll;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
}

/*! Variables */
:root {
    /*!    Colors  */
    --yellow: #ff9f1c;
    --pink: #e71d36;
    --blue: #2ec4b6;
    --white: #fdfffc;
    --dark: #011627;


    /*!   Gradient  */
    --orange: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    --disco: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    --btn: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    --pro: linear-gradient(to right, #240b36, #c31432);
    --pro2: linear-gradient(135deg, #be3a26 0%, #e53e95 55%, #FF99AC 100%);
    --green: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    --nav: linear-gradient(to right, #69ff97 0%, #00e4ff 100%);


}

/*!------Global---------*/

a {
    text-decoration: none;
    color: var(--pink);}

.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}

ul {
    list-style-type: none;
}

h1 {
    color: aqua;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Poiret One', cursive;
    font-size: 4rem;
    color: aqua;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;

}

button.btn {
    border: none;
    border-radius: 3rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background-image: var(--btn);
    cursor: pointer;
}

span {
    font-size: 800;
    color: #be3a26;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 7px;
}

.container2 .post-title p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

*/
/*------Global Closed---------*/


/*!------navbar---------*/

.nav {

    padding: 0 0rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;

}

.nav .nav-menu {
    justify-content: space-between;
    background-color: #111;
}

.nav .nav-brand a {
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 3rem;
    display: block;
    font-family: 'Poppins', sans-serif;
    color: #006AFF;

}

.nav .nav-items {
    display: flex;
    margin: 0;

}

.nav .toggle-collapse {
    position: absolute;
    color: var(--pink);
    top: 0%;
    width: 80%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icon {
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 1rem;
    font-size: 1.4rem;
}

.collapse {
    height: 30rem;
}


nav .nav-items .nav-links {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: large;

}


/* ! HOVER EFFECT      */

nav .nav-items .nav-links:hover a {

    font-size: 1.2rem;
    font-weight: 1000;
    color: #111;
    background: white;
    padding: 1rem;
    border-radius: 1rem;

}

/* Hover effect for blog-content button*/
main .blog .blog-content .blog-title button.btn:hover {
    background-color: var(--pink);
}

.nav .social {
    padding: 1.5rem 3rem;

}

.nav .social i {
    padding: 0 1rem;
    font-size: 1.5rem;
}


.nav .social i:hover {
    color: #111;
    background: white;
    border-radius: .3rem;
}

/*------navbar closed--------*/

/*! -----------Main Section-------*/

/*-----title-------*/
main .title {
    background: url(../assests/background.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main .title .background {
    padding: 10rem;
    text-align: center;


}

main .title h1,
h3 {
    margin: 2rem;

}

main .title .btn {
    margin: 1.7rem;

}

main .title .btn:hover {
    background: transparent;
    border: 1px solid whitesmoke;
    color: var(--white);
}



/*!----------Blog Carousel---------*/


main .blog {
    background: url(../assests/Blooger_Assets/assets/Abract01.png);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(100px);

}

main .blog .blog-post {
    padding-top: 6rem;
}

main .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 2rem 5rem;
    box-shadow: 0 15px 20px;
}

/*!  Image class
main .blog-post .blog-content .image{
   margin-top: 2rem;
   align-items: center;
}

*/

main .blog-content .blog-title {
    padding: 0rem;
    margin: 0rem;
    text-align: center;
    font-weight: 0;
}

main .blog-content .btn-blog {
    padding: .7rem 2rem;
    background-color: #a8eb12;
    margin: .5rem;

}

main .blog-content span {
    display: block;
}

section .container .owl-nav {
    position: absolute;
    top: 5%;
    margin: 0 auto;
    width: 100%;
}

.owl-navigation .owl-nav-pre,
.owl-navigation .owl-nav-next {
    color: black;
    font-size: 3rem;
    background: transparent;



}

/*----------Blog Carousel---------*/


/*-----------Main content----------*/

main .site-content {
    margin-top: 25px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 70% 30%;
}

/*
.main .post-title, .post-info{
    margin: 10px 1px;
    position: relative;
}

.container2 .post-info{
    background:var(--nav);
    position: relative;
    padding: 0.2rem;
    border: .1px solid aqua;
    width: 72%;
    display: block;

}
.container2 .post-title a{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    
}
.container2 .post-title p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
} */

main .post-content {
    /* width: 100%; */
    /* margin-bottom: 5rem; */
    position: relative;
}

main .site-content .post-content>.post-image,
.post-title {
    padding: 1rem;
    margin-top: 1rem;
    position: relative;

}



main .site-content .post-content>.post-image .post-info {
    background: var(--nav);
    /* padding: .5rem;
    position: absolute;
    margin: 0%; 
    left: 20vw;
    top: 25rem;
    border-radius: 3rem;  */
    padding: 0.5rem;
    bottom: 0%;
    left: 20vw;
    position: absolute;
    border-radius: 3rem;
}

main .site-content .post-content>.post-image>div {
    overflow: hidden;
}

main .site-content .post-content>.post-image .image {
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content>.post-image .image:hover {
    transform: scale(1.3);

}

.container2 .post-title a {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

.site-content .post-content .post-title .post-btn {
    border-radius: 0%;
    padding: .7rem 1.5rem;
    background: var(--green);
    border: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}


/*! Styling to the pagination */
.site-content .pagination {
    justify-content: center;
    margin: 3rem auto;
}

.site-content .pagination a {
    margin: 0rem .3rem;
    padding: .6rem .9rem;
}

.site-content .pagination .pages {
    background: var(--pink);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-radius: 2rem;
}

/*-----------Main content----------*/

/*!  SIDE BAR  */

.site-content .sidebar .category-list {
    font-family: 'Roboto', sans-serif;
}

.site-content .sidebar .list-items {
    background: var(--nav);
    margin: .8rem 0rem;
    padding: .4rem 1rem;
    justify-content: space-between;
    border-radius: 3rem;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 70%;

}

.site-content .sidebar .list-items a {
    /* padding: auto 2rem; */
    color: black;
    margin: auto 0rem;

}

/*! Popular Post */
.site-content .sidebar .popular-post .post-content {
    padding: 0 2rem;
    margin: 0;
}

.site-content .sidebar .popular-post .post-content .post-image {
    padding: 0;
    margin: 0;
}

.site-content .sidebar .popular-post .post-content .post-title {
    padding: 0rem;
    margin: 0;
}


.site-content .sidebar .popular-post .post-info {
    background: white !important;
    padding: 0.4rem .1rem !important;
    bottom: 0rem !important;
    border-radius: 0rem !important;
    left: 0rem !important;
}

.site-content .sidebar .popular-post .post-title a {
    font-size: 1.3rem !important;
    color: black !important;
    padding: 0;
    margin: 0;
}

/*!  Newsletter  */
.site-content .sidebar .newsletter {
    padding-top: 3rem;
}

.site-content .sidebar .newsletter .input-form {
    padding: .5rem;
}

.site-content .sidebar .newsletter .input-element {
    width: 80%;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: .3rem .5rem;
}

.site-content .sidebar .newsletter .form-btn {
    border-radius: 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: .8rem 28.5%;
    margin: 1rem 0;

}

/*! Foooter*/
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #111;
    color: #4dafff;
    height: 40vh;
    text-align: center;
    padding: 1rem 0rem;

}

.footer>div {
    flex-grow: 1;
    flex-basis: 0;
}

.footer h2 {
    font-size: 2rem;
}

.footer .one p {
    padding: 0rem 0rem;
    font-family: 'Poiret One', cursive;
    color: #fff;
    font-size: 1.2rem;
    padding: 0 5rem;
    height: 10vh;
}

.footer .two .newsletter>.haha {
    padding: 0;
    align-items: center !important;
    display: inline-block;
}

.footer .two .input-form {
    padding-bottom: 1rem;
    width: 90%;
}

.footer .two .input-form>.form-element {
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
    height: 3vh;
    padding: 1rem;
    margin-left: .5rem;
    width: 80%;
}

.footer .two .footer-button>.form-btn {
    width: 80%;
    border-radius: 0;
    background: #fff;
}

.footer .two .footer-button>.form-btn:hover {
    background: #4dafff;
    font-weight: bolder;
}

.footer .four .social-footer {
    box-sizing: border-box;
    display: inline-block;
    padding: 2rem 1rem;
    font-size: 2rem;
    color: #111;
}

.footer .four .social-footer a {
    padding: 0 1rem;
    font-size: 2rem;
    color: #fff;
}

.footer .four .social-footer a:hover {
    color: #4dafff;
    font-weight: bolder;
}

.rights {
    font-family: popins, sans-serif;
    font-family: 'Poiret One', cursive;
    color: white;
    padding: 0rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: smaller;
    font-weight: 100;
}

h4 {
    display: flex;
    justify-content: center;
}


/* -----------Main Section closed-------*/


/*! viewport less than or equal to 750px  */

@media only screen and (max-width: 750px) {

    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }

    .collapse{
    height: 10vh;
    
    }

    



    main .site-content {
        margin-top: 25px;
        margin-left: 50px;
        display: grid;
        grid-template-columns: 100%;
    }

    main .site-content .sidebar {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 25% 75%;
        padding: auto 0rem;
    }

    .site-content .sidebar .list-items {

        margin-left: -2rem;
        padding-left: 1rem;
        width: 100%;
    }

    .site-content .sidebar .list-items span {
        display: none;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    

    
}

@media only screen and (max-width: 1168px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .site-content .sidebar .popular-post .post-content .post-title {
        display: none;
    }
    


}

    @media (max-width: 650px){
    
        main .title .background h3{
            padding: 0rem!important;
            font-size: 2rem;
            
        }
        main .site-content .post-content>.post-image .post-info{
            border-radius: 0;
            font-size: .8rem;
            background: white;
            position: relative;
            left: 1px;
}


@media only screen and (max-width: 475px) {

    button.btn { 
        border: none; 
        border-radius: 3rem;
        padding: 1rem  1rem;
        margin: 0;
        font-size: .5rem;
        font-weight: 100;
        font-family: 'Poppins', sans-serif;
        background-image: var(--btn);
        cursor: pointer;
    }

    .site-content .sidebar .popular-post h2{
        
        padding-left: 3rem;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }


}



/*! viewport less than or equal to 750px  */